# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/
## but ignore these...
# some are tracked separetly in othe repositories
Ansible/
Backups/
Desktop/
Documents/
IfsWorkshop_Containers/
Shared_Mari/
sublime-text-3/
*~
.local/
xkblayout-state/
#
## Don't ignore .gitignore and README.md, add files using filenames
# i.e. !.conkyrc, etc
!.gitignore
!/README.md
# conky config
!.conkyrc
!.conky/*
# Vim
!.vimrc
# Shell configs
!.zshrc
!.bashrc
# i3 config dir
!.config/i3/
# Xresources for URxvt
!.Xresources
