# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/
## but ignore these...
Documents/
IfsWorkshop_Containers/
Shared_Mari/
#
## Don't ignore .gitignore and README.md, add files using filenames
# i.e. !.conkyrc, etc
!.gitignore
!/README.md
# conky config
!.conkyrc
!.conky/*
# Vim
!.vimrc
# Shell configs
!.zshrc
!.bashrc

# Ignore temp file, undo files, etc...
.~lock.*
*.sh~
*.un~
*.autosave
