# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/
## but ignore these...
Documents/
IfsWorkshop_Containers/
Shared_Mari/
sublime-text-3/
.berkshelf/
.local/
Corsi/
#
## Don't ignore .gitignore and README.md, add files using filenames
# i.e. !.conkyrc, etc
!.gitignore
!/README.md
# conky config
!.conkyrc
!.conky/*
# Vim
!.vimrc
# Shell configs
!.zshrc
!.bashrc
# i3 config dir
!.config/i3/
# Xresources with URxvt settings
!.Xresources

# Ignore generic temp file, undo files, etc...
.~lock.*
*.sh~
*.un~
*.autosave
*.swp
*.swo
# vim temp
.vim/
### Eclipse specific
.settings/
.properties
.classpath
bin/
build/
### Pyton specific
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# VSCode specific
.vscode/
/etc/X11/xorg.conf.d/
